
<div class='recipe-card'>
    <div class='recipe-card-image'>
        <%= image_tag recipe.image, size: Recipe::DEFAULT_IMAGE_SIZE %>
    </div>
    <div class='recipe-card-details'>
        <div id='recipe-card-details-title'>
            <h2><%= recipe.title %></h2>
        </div>
        <div id='recipe-card-ingedients'>
            <% recipe.ingredients.each do |ingredient| %>
            <div>
                <%= ingredient %>
            </div>
            <% end %>
        </div>
    </div>
</div>